# Lab 3: Data Cleaning and extraction on the Coachella Tweets Dataset

In [21]:
import string

import numpy as np
import pandas as pd
import nltk
import re

In [22]:
data = pd.read_csv('Coachella-2015-2-DFE.csv', encoding='latin-1')

In [23]:
data

,coachella_sentiment,coachella_yn,name,retweet_count,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone
0,positive,yes,kokombil,0,#Coachella2015 tickets selling out in less tha...,"[0.0, 0.0]",1/7/15 15:02,5.529630e+17,NaN,Quito
1,positive,yes,MisssTaraaa10,2,RT @sudsybuddy: WAIT THIS IS ABSOLUTE FIRE _Ã™Ã“...,NaN,1/7/15 15:02,5.529630e+17,united states,NaN
2,positive,yes,NMcCracken805,0,#Coachella2015 #VIP passes secured! See you th...,NaN,1/7/15 15:01,5.529630e+17,"Costa Mesa, CA",NaN
3,positive,yes,wxpnfm,1,PhillyÂ‰Ã›Âªs @warondrugsjams will play #Coachell...,NaN,1/7/15 15:01,5.529630e+17,"Philadelphia, PA and Worldwide",Quito
4,positive,yes,Caesears,0,If briana and her mom out to #Coachella2015 i...,NaN,1/7/15 15:00,5.529630e+17,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3841,cant tell,yes,MissXOverdose,0,Excuse me while I go cry now. _Ã™Ã·Â¢ #Coachella2...,NaN,1/6/15 10:32,5.525330e+17,atx,Pacific Time (US & Canada)
3842,cant tell,yes,NedRaggett,1,RT @touchofallright: Ride and Steely Dan. It w...,NaN,1/6/15 10:28,5.525320e+17,"Costa Mesa, CA",Pacific Time (US & Canada)
3843,cant tell,yes,nicolejackieee,0,I've been callin that since day one #Coachella...,NaN,1/6/15 10:26,5.525320e+17,NaN,NaN
3844,cant tell,yes,NiqueWobbitz,2,Is this for real?!?! #Coachella2015 http://t.c...,NaN,1/6/15 10:21,5.525300e+17,Huntington Beach X Long Beach,Pacific Time (US & Canada)
3845,cant tell,yes,LindsayRuben,1,RT @Jen_Baz: C'monnnnnn lineup! #coachella2015...,NaN,1/6/15 6:44,5.524760e+17,NaN,NaN

#### 1. Find all hashtags in the tweets and store them in a new column named 'hashtags'. Remove the hashtags from the original tweet text.

In [24]:
hashtag_pattern = r'#\w+'
data['hashtags'] = data['text'].apply(lambda x: re.findall(hashtag_pattern, str(x)))
data['text'] = data['text'].apply(lambda x: re.sub(hashtag_pattern, '', str(x)))
data.hashtags

0                     [#Coachella2015]
1                     [#Coachella2015]
2               [#Coachella2015, #VIP]
3       [#Coachella2015, #GovBall2015]
4                     [#Coachella2015]
                     ...
3841                  [#Coachella2015]
3842                  [#Coachella2015]
3843                  [#Coachella2015]
3844                  [#Coachella2015]
3845      [#coachella2015, #Impatient]
Name: hashtags, Length: 3846, dtype: object

#### 2. Find all email addresses in the tweets and store them in a new column named 'mails'. Remove the email addresses from the original tweet text.

In [25]:
mail_pattern = r"[\w.-]+@\w+\.[A-Za-z]{2,}"
data['mails'] = data['text'].apply(lambda x: re.findall(mail_pattern, str(x)))
data['text'] = data['text'].apply(lambda x: re.sub(mail_pattern, '', str(x)))
data.mails

0       []
1       []
2       []
3       []
4       []
        ..
3841    []
3842    []
3843    []
3844    []
3845    []
Name: mails, Length: 3846, dtype: object

#### 3. Remove all usernames (words starting with '@')

In [26]:
username_pattern = r'@[\w]+'
data['text'] = data['text'].apply(lambda x: re.sub(username_pattern, '', str(x)))
data.text

0        tickets selling out in less than 40 minutes _...
1       RT : WAIT THIS IS ABSOLUTE FIRE _Ã™Ã“Â´_Ã™Ã“Â´_Ã™Ã“Â´  ...
2               passes secured! See you there bitchesssss
3       PhillyÂ‰Ã›Âªs  will play  &amp; ! Watch them on J...
4       If briana and her mom out to   im out with the...
                              ...
3841    Excuse me while I go cry now. _Ã™Ã·Â¢  http://t.c...
3842    RT : Ride and Steely Dan. It would only be bet...
3843                 I've been callin that since day one
3844         Is this for real?!?!  http://t.co/PbeDWs5OS9
3845                            RT : C'monnnnnn lineup!
Name: text, Length: 3846, dtype: object

### 4. Remove all URLs from the tweet text.

In [27]:
url_pattern = r"(https?://[^\s]+|www\.[^\s]+)"
data['text'] = data['text'].apply(lambda x: re.sub(url_pattern, '', str(x)))
data.text

0        tickets selling out in less than 40 minutes _...
1          RT : WAIT THIS IS ABSOLUTE FIRE _Ã™Ã“Â´_Ã™Ã“Â´_Ã™Ã“Â´
2               passes secured! See you there bitchesssss
3       PhillyÂ‰Ã›Âªs  will play  &amp; ! Watch them on J...
4       If briana and her mom out to   im out with the...
                              ...
3841                 Excuse me while I go cry now. _Ã™Ã·Â¢
3842    RT : Ride and Steely Dan. It would only be bet...
3843                 I've been callin that since day one
3844                               Is this for real?!?!
3845                            RT : C'monnnnnn lineup!
Name: text, Length: 3846, dtype: object

#### 5. Remove all non-ASCII characters from the tweet text.

In [28]:
print(ord('a'))
print(ord('Â‰'))
print(ord('ðŸ˜Š'))

97
137
128522

In [29]:
data.text

0        tickets selling out in less than 40 minutes _...
1          RT : WAIT THIS IS ABSOLUTE FIRE _Ã™Ã“Â´_Ã™Ã“Â´_Ã™Ã“Â´
2               passes secured! See you there bitchesssss
3       PhillyÂ‰Ã›Âªs  will play  &amp; ! Watch them on J...
4       If briana and her mom out to   im out with the...
                              ...
3841                 Excuse me while I go cry now. _Ã™Ã·Â¢
3842    RT : Ride and Steely Dan. It would only be bet...
3843                 I've been callin that since day one
3844                               Is this for real?!?!
3845                            RT : C'monnnnnn lineup!
Name: text, Length: 3846, dtype: object

In [30]:
data['text'] = data['text'].apply(lambda x: ''.join([char for char in str(x) if ord(char) < 128]))

In [31]:
data.text.head()

0     tickets selling out in less than 40 minutes _...
1                RT : WAIT THIS IS ABSOLUTE FIRE ___
2            passes secured! See you there bitchesssss
3    Phillys  will play  &amp; ! Watch them on Jimm...
4    If briana and her mom out to   im out with the...
Name: text, dtype: object

In [32]:
data['text'] = data['text'].apply(lambda x: ''.join([char for char in str(x) if (char != '_')]))

In [33]:
data.text.head()

0        tickets selling out in less than 40 minutes
1                   RT : WAIT THIS IS ABSOLUTE FIRE
2            passes secured! See you there bitchesssss
3    Phillys  will play  &amp; ! Watch them on Jimm...
4    If briana and her mom out to   im out with the...
Name: text, dtype: object

#### 6. Convert all text to lowercase.

In [34]:
data['text'] = data['text'].apply(lambda x: str(x).lower())
data.text

0           tickets selling out in less than 40 minutes
1                      rt : wait this is absolute fire
2               passes secured! see you there bitchesssss
3       phillys  will play  &amp; ! watch them on jimm...
4       if briana and her mom out to   im out with the...
                              ...
3841                     excuse me while i go cry now.
3842    rt : ride and steely dan. it would only be bet...
3843                 i've been callin that since day one
3844                               is this for real?!?!
3845                            rt : c'monnnnnn lineup!
Name: text, Length: 3846, dtype: object

In [35]:
print(data.head())

  coachella_sentiment coachella_yn           name  retweet_count  \
0            positive          yes       kokombil              0
1            positive          yes  MisssTaraaa10              2
2            positive          yes  NMcCracken805              0
3            positive          yes         wxpnfm              1
4            positive          yes       Caesears              0

                                                text tweet_coord  \
0      tickets selling out in less than 40 minutes    [0.0, 0.0]
1                 rt : wait this is absolute fire            NaN
2          passes secured! see you there bitchesssss         NaN
3  phillys  will play  &amp; ! watch them on jimm...         NaN
4  if briana and her mom out to   im out with the...         NaN

  tweet_created      tweet_id                  tweet_location user_timezone  \
0  1/7/15 15:02  5.529630e+17                             NaN         Quito
1  1/7/15 15:02  5.529630e+17                   united states           NaN
2  1/7/15 15:01  5.529630e+17                  Costa Mesa, CA           NaN
3  1/7/15 15:01  5.529630e+17  Philadelphia, PA and Worldwide         Quito
4  1/7/15 15:00  5.529630e+17                             NaN           NaN

                         hashtags mails
0                [#Coachella2015]    []
1                [#Coachella2015]    []
2          [#Coachella2015, #VIP]    []
3  [#Coachella2015, #GovBall2015]    []
4                [#Coachella2015]    []

#### 7. Remove stopwords

In [37]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Jasmin\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [38]:
stopwords = set(nltk.corpus.stopwords.words('english'))

In [39]:
stopwords

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 "he'd",
 "he'll",
 "he's",
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 "i'd",
 "i'll",
 "i'm",
 "i've",
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it'd",
 "it'll",
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she'd",
 "she'll",
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 "they'd",
 "they'll",
 "they're",
 "they've",
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 "we'd",
 "we'll",
 "we're",
 "we've",
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [41]:
data['text'] = data['text'].apply(lambda x:' '.join([word for word in str(x).split() if word not in stopwords]))
data.text

0                      tickets selling less 40 minutes
1                              rt : wait absolute fire
2                      passes secured! see bitchesssss
3             phillys play &amp; ! watch jimmy fallon:
4                                    briana mom im !!!
                             ...
3841                                excuse go cry now.
3842    rt : ride steely dan. would better supergroup.
3843                              callin since day one
3844                                          real?!?!
3845                           rt : c'monnnnnn lineup!
Name: text, Length: 3846, dtype: object

#### 8. Remove digits

In [45]:
data['text'] = data['text'].apply(lambda x: re.sub(r'\d+', '', str(x)))

In [46]:
data.text

0                        tickets selling less  minutes
1                              rt : wait absolute fire
2                      passes secured! see bitchesssss
3             phillys play &amp; ! watch jimmy fallon:
4                                    briana mom im !!!
                             ...
3841                                excuse go cry now.
3842    rt : ride steely dan. would better supergroup.
3843                              callin since day one
3844                                          real?!?!
3845                           rt : c'monnnnnn lineup!
Name: text, Length: 3846, dtype: object

#### 9. Remove special characters, [.,!?#$%^&*()+-_=[]{};:'"\/|<>`~ etc]

In [48]:
import string

In [50]:
special_chars = string.punctuation
special_chars

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [62]:
data['text'] = data['text'].apply(lambda x:re.sub(r'[{}]'.format(re.escape(special_chars)), '', str(x)))
# re.sub({special_chars}, '', str(x))

In [63]:
data.text.head(20)

0                         tickets selling less  minutes
1                                rt  wait absolute fire
2                        passes secured see bitchesssss
3                  phillys play amp  watch jimmy fallon
4                                        briana mom im
5                                   west side best side
6     coachella tickets sold amp opportunity bought ...
7     absolutely wait weekend exceed epic expectatio...
8                     someone got coachella friend life
9     rt   coachella  coachella  makes space rockers...
10    rt  dig guys much cant wait see  two dudes cre...
11     officially official please someone get coache...
12                                           see there
13                              son im really trynna go
14                                              want go
15                                     got tickets x it
16          cant wait year first time ever goin chyyeah
17    bought tickets minh do could already tell  gon...
18    rt  someone sell one car camping pass coachell...
19                               april cant come sooner
Name: text, dtype: object

#### 10. save the cleaned data to a new file 'coachella_cleaned.csv'.

In [65]:
data.to_csv('coachella_cleaned.csv', encoding = 'latin-1', index=False)